<h3><%= @question.title %></h3>
<% if flash[:notices] %>
<p><%= flash[:notices] %></p>
<% end %>

<div id="question_description">Q:<%= @question.description %></div>

<% @answers.each_with_index do |answer, index| %>
  <div class="answer_description">Votes: <%= @answer_vote_count[index] %> A:<%= answer.description %>
  <%= form_for @vote, url: answer_votes_path(answer) do |f| %>
    <%= f.button 'Upvote', name: "vote[up]", value: "true" %>
    <%= f.button 'Downvote', name: "vote[down]", value: "true" %>
  <% end %>
  </div>
<% end %>

<h1>Answer this question</h1>

<%= form_for(:answer, url: "/questions/#{@question.id}/answers") do |f| %>

  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= flash[:error] %>

  <%= f.submit "Answer!" %>
<% end %>
