<% provide(:title, "Sign in") %>
<%= flash[:error] %>
<h1>Sign in</h1>

  <%= form_for(:session, url: sessions_path) do |f| %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class = "control">
    <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <%= f.password_field :password %>
  <div class = "control">
    <%= f.submit "Sign in", :class => 'btn btn-primary' %>
    </div>
  </div>

  <%end%>


