<div class = "center hero-unit">


<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for @user do |f| %>

  <%= @user.errors[:name].join(', ') %><br>
  <%= f.text_field :name, :placeholder => "Name" %>
  
  <%= @user.errors[:email].join(', ') %><br>
  <%= f.text_field :email, :placeholder => "Email" %>
  
  <%= @user.errors[:password].join(', ') %><br>
  <%= f.password_field :password, :placeholder => "Password" %>


  <%= f.submit "Sign me up!" %>
<% end %>
</div>
