 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container nav", id="nav">

      <%= link_to "Captains Log", root_path, id: "logo", :class => 'navbar-brand' %>
        <% provide(:title, "Sign in") %>
        <%= flash[:error] %>


     <nav>

        <%= form_tag sessions_path, :class => 'navbar-form pull-right' do %>

            <% if signed_in? %>

          <%= link_to "Sign out", signout_path, method: "delete", :class => "btn btn-danger", :id => 'signout' %>

          <%= link_to "Profile", user_path(current_user), :class => "btn btn-info" %>  

            <% else %>

          
              <%= text_field_tag(:email, nil, placeholder: "Email", class: 'form-control') %>
         

         
              <%= text_field_tag(:password, nil, placeholder: "Password", type: 'password', class: 'form-control') %>
     

          <%= submit_tag("Sign In", :class => 'btn btn-success', :id => 'sign_in') %>


          <%end%>
        <% end %>
       
      </nav>
    </div>
  </div>
</header>

